


.container {
  width: 90%;
}

.navbar {
  padding: 0;
}

.navbar nav {
  padding: 30px 0 10px 0;
  position: fixed;
  background-color: purple;
  z-index: 1;
  padding: 40px 0 31px 0;
  width: 100%;
}

.name a {
position: absolute;
left: 30px;
top: 19px;
}


.band {
  grid-template-columns: 1fr 1fr;
}

#menu-button + .menu {
  visibility: hidden;
  opacity: 0;
  display: none;

}

.menu {
    position: relative;

}

.menu2 {
  font-size: 40px;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  background-color: rgb(9, 4, 74);
  width: 50%;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  padding: 40px 0 40px 0;
  margin: 0;
  border-bottom-left-radius: 45px;
  
  
}

.menu2 li {
  list-style: none;
  font-size: 25px;

  
}

#menu-button.menu-open + .menu {
  visibility: visible;
  display: contents;

}

#menu-button.menu-open + .menu2 {
  visibility: visible;
  display: contents;
  

}

#menu-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 39px;
}

#menu-button.menu-open {
  position: absolute;
  right: 90px;
  top: 30px;
}

#menu-button span {
  width: 50px;
  height: 8px;
  margin-bottom: 7px;
  border-radius: 7px;
  display: block;
  background-color: $primary-text-color;
  position: relative;
  transition: all 0.3s ease-in-out;
}

#menu-button:hover span:nth-child(2n) {
  right: 4px;
}

#menu-button.menu-open span {
  position: absolute;
}

#menu-button.menu-open span:nth-child(2n) {
  display: none;
}

#menu-button.menu-open span:nth-child(1n) {
  transform:rotate(45deg);
}

#menu-button.menu-open span:nth-child(3n) {
  transform:rotate(-45deg);
}

.intro {
  margin-top: 82px;
}

.intro article p {
  font-size: 15px;
  margin: 30px 0 30px 0;
}

.container-about {
  width: 90%;
}


.contact-container {
  width: 80%;
}

